Source: mdealer
Section: gnome
Priority: extra
Maintainer: Alexandre González Rodríguez <alex@mirblu.com>
Build-Depends: debhelper (>= 7),
Standards-Version: 3.8.0

Package: mdealer
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python, python-lightblue, obexftp, python-gtk2, python-bluez, python-glade2, python-gnome2, python-gobject, python-pysqlite2, python2.6, cron, anacron
Description: Bluetooth proximity marketing utility
 mdealer lets you send bluetooth messages via Bluetooth
 with images, pdf, videos, jars...
